<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <br>
  <a href="/change-password?access_token=<%= accessToken %>">
    <i class="glyphicon glyphicon-lock"></i> Cambiar contraseña
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
  <a href="/change-password?access_token=<%= accessToken %>">
    <i class="glyphicon glyphicon-export"></i> Exportar historial
  </a>
  <a href="/logout?access_token=<%= accessToken %>">
    <i class="glyphicon glyphicon-log-out"></i> Cerrar Sesión
  </a>
</div>

<div class="well">
  <h2>
    <a class="btn btn-default" role="button" onclick="openNav()" href="#">
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <i class="glyphicon glyphicon-tree-deciduous"></i> Terapeutikos</h2>
</div>
<main class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">Atenciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Pagos</a>
    </li>
  </ul>
  <div class="tab-content">
    <!-- === SERVICES PANEL === -->
    <div class="tab-pane fade active in" id="service" role="tabpanel" aria-labelledby="service-tab">
      <div class="list-group">
          <% services.forEach(function(srv){ %>
            <%- include('service_item', {srv: srv}); %>
          <% }); %>                          
      </div>
    </div>

    <!-- === PAYMENTS PANEL === -->
    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
      <a href="#newPaym" class="btn btn-info" role="button" data-toggle="collapse">
        <i class="glyphicon glyphicon-plus"></i>Nuevo pago</button>
      </a>
      <div id="newPaym" class="collapse panel">
          <%- include('payment_new'); %>
      </div>      
      <div class="list-group">
          <% payments.forEach(function(paym){ %>
            <%- include('payment_item', {paym: paym}); %>
          <% }); %>    
      </div>

    </div>
  </div>
</main>