<a href="#p<%= paym.id %>" class="list-group-item list-group-item-info" data-toggle="collapse">
  <span class="badge"> <%= paym.servedUnits %>/<%= paym.totalUnits %></span>
  <h4 class="list-group-item-heading"><%= paym.company %></h4>
  <p class="list-group-item-text">Vigente hasta <%= paym.term && paym.term.toLocaleString().split(',')[0] %></p>
</a>
<div id="p<%= paym.id %>" class="collapse panel">
  <p class="list-group-item-text  col-sm-6">
    <i class="glyphicon glyphicon-check"></i>&nbsp;<%= paym.servedUnits %> de <%= paym.totalUnits %> atenciones realizadas
  </p>
  <p class="list-group-item-text  col-sm-6">
    <i class="glyphicon glyphicon-tag"></i>&nbsp;Ref.Pago: <%= paym.paymentRef %>
  </p>
  <p class="list-group-item-text  col-sm-6">
      <i class="glyphicon glyphicon-calendar"></i>&nbsp;Fecha.Pago: <%= paym.paymentDate && paym.paymentDate.toLocaleString().split(',')[0] %>
  </p>
  <p class="list-group-item-text  col-sm-6">
    <i class="glyphicon glyphicon-user"></i>&nbsp;<%= paym.contactName %>
  </p>
  <p class="list-group-item-text  col-sm-6">
    <i class="glyphicon glyphicon-phone"></i>&nbsp;<%= paym.contactPhone %>
  </p>
  <p class="list-group-item-text  col-sm-6">
    <i class="glyphicon glyphicon-envelope"></i>&nbsp;<%= paym.contactEmail %>
  </p>
  <p class="list-group-item-text">
    <a class="btn btn-success" role="button" href="mailto:<%= paym.contactEmail %>?Subject=Terapeutikos">
      <i class="glyphicon glyphicon-envelope"></i>&nbsp;Escribir
    </a>
    <a class="btn btn-success" role="button" href="tel:<%= paym.contactPhone %>">
      <i class="glyphicon glyphicon-phone"></i>&nbsp;Llamar
    </a>
    <a class="btn btn-success" role="button" href="#">
      <i class="glyphicon glyphicon-tag"></i>&nbsp;Reenviar
    </a>
  </p>
</div>
